<br><h3>Full adder</h3><br>
Il circuito Full adder si serve delle porte logiche di cui sopra per realizzare la somma tra due bit. n Full adder in serie possono realizzare la somma di numeri binari a n bit. Questo &egrave; possibile perché il circuito del full-adder &egrave; in grado di tenere in considerazione del riporto in uscita dalla precedente somma avvenuta nel full adder precedente, che diventa pertanto riporto in entrata nel Full Adder successivo. 
Nel Full Adder il primo XOR si occupa si eseguire la somma tra gli input A e B, mentre il primo AND calcola l'eventuale riporto di quella somma. Il secondo XOR e il secondo AND si occupano di tenere in considerazione il riporto in entrata. Lo XOR esegue la somma tra il risultato uscente dal primo XOR e il riporto in entrata, mentre il secondo AND calcola l'eventuale riporto di questa somma. L'OR finale tiene in considerazione i due AND e gli eventuali riporti da essi calcolati e calcola il riporto in uscita. 
<br><br>
La tabella di verità del Full'Adder &egrave; la seguente:
<br>
<center><img src="images/docs/FullAdder Table.png"></center>
<br>
Per una spiegazione più intuitiva si veda il simulatore del circuito nel menù a sinistra. 