<br><h3>Full adder</h3><br>
The Full adder circuit uses logic gates seen above to realize the sum of two binary digits. A series circuit with n in series full adder can calculate the sum of n binary digits numbers. This is possibile because the full adder circuits considerates the  carry-out of the preceiding sum which took place in the preceiding full adder, which becomes the carry-in of the successive full adder. 
In full adder circuit , first XOR performs sum of A and B, while first AND calculates carry-out. Second XOR and second AND have the task of of considering the carry-in. XOR performs the sum of the outgoing results of the first XOR and the carry-in, while second AND calcultates the carry-out of this sum. Final OR calculates final carry-out using the results of the two AND as operands. 
<br><br>
Table Truth of full-adder is here:
<br>
<center><img src="images/docs/FullAdder Table.png"></center>
<br>
For a more detailed explanation, see circuit simulator above, on the left of the page.