A brief Introduction about logic gates used in shown simulators.

<br>
<br><h3>Logic AND</h3><br>
The AND operation or logic product is an operation which returns one if all operands are 1, 0 otherwise. The following symbol represents AND in logic circuits:      <br>
<center><img src="images/docs/AND.png"></center>
<br>
Here, A and B are the operands. Table truth of two inputs AND is shown here:
<br>
<center><img src="images/docs/AND Table.png"></center>
<br>
<br><h3>Logic OR</h3><br>
The OR operation or logic sum is an operation which returns 0 of all the operands are 0, 1 otherwise. The following symbol represents OR in logic circuits: 
<br>
<center><img src="images/docs/OR.png"></center>
<br>
Table truth of two inputs OR is shown here:
<br>
<center><img src="images/docs/OR Table.png"></center>
<br>

<br><h3>Logic NOT</h3><br>
The NOT operator is an operation that invert the signal in input. The following symbol represents NOT in logic circuits:
<br>
<center><img src="images/docs/NOT.png"></center>
<br>

Table truth of two inputs NOT is shown here:
<br>
<center><img src="images/docs/NOT Table.png"></center>
<br>

<br><h3>XOR</h3><br>
XOR or esclusive OR, or "two's complement sum" , is an operator which returns 1 if and only if one of the two operands is 1, 0 otherwise. The following symbol represents XOR in logic circuits:
<br>
<center><img src="images/docs/XOR.png"></center>
<br>
It's table truth is shown here:
<br>
<center><img src="images/docs/XOR Table.png"></center>
<br>