<div class="modal-header">
  <h3 align="center" class="modal-title">Circuit Simulator</h3>
</div>
<div class="modal-body">
  <center>
    {{ about[lang] }}<br>
    <img src="images/html-css.png">
    <img src="images/AngularJS.png">
    <img src="images/Bootstrap.png">
    <br><br>
    {{ about[lang+2] }}
    <br>
    <img src="images/gnu-gpl.png">
  </center>
</div>
<div class="modal-footer">
  <center>
    Coded By <a href="https://github.com/Helias">Stefano Borz&igrave;</a> && <a href="#">Danilo Tascone</a>		
  </center>
</div>