Una breve Introduzione alle porte Logiche usate nei simulatori presentati

<br>
<br><h3>AND Logico</h3><br>
L'operazione AND o di prodotto logico &egrave; un operazione che restituisce 1 se tutti gli operandi sono 1, 0 altrimenti. Essa viene rappresentata nei circuiti mediante il seguente simbolo:
<br>
<center><img src="images/docs/AND.png"></center>
<br>
Dove A e B sono gli operandi. La tabella di verità dell'AND a due input &egrave; la seguente: 
<br>
<center><img src="images/docs/AND Table.png"></center>
<br>
<br><h3>OR Logico</h3><br>
L'operazione OR o di somma logica &egrave; un operazione che restituisce 0 se tutti gli operandi sono 0, 1 altrimenti. Il simbolo indicante tale operazione &egrave; il seguente: 
<br>
<center><img src="images/docs/OR.png"></center>
<br>
La tabella di verità dell'OR a due input &egrave; la seguente:
<br>
<center><img src="images/docs/OR Table.png"></center>
<br>

<br><h3>NOT Logico</h3><br>
L'operazione NOT inverte il segnale in entrata. Il simbolo indicante tale operazione &egrave; il seguente:
<br>
<center><img src="images/docs/NOT.png"></center>
<br>

La tabella di verità del NOT a due input &egrave; la seguente:
<br>
<center><img src="images/docs/NOT Table.png"></center>
<br>

<br><h3>XOR</h3><br>
Lo XOR (Exclusive OR), o "somma modulo 2", &egrave; un operatore che restituisce 1 se e solo se uno dei due operandi &egrave; 1, 0 altrimenti. Esso viene rappresentato con il seguente simbolo:
<br>
<center><img src="images/docs/XOR.png"></center>
<br>
La sua tabella di verità &egrave; la seguente:
<br>
<center><img src="images/docs/XOR Table.png"></center>
<br>